@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

#controls {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* Stile generale della tabella */
.tabulator {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    overflow: hidden;
    border-radius: 5px 5px 5px 5px !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    margin: 0 0;
    margin-top: 3%;
    background: none;
    padding: 0 0;
}

/* Intestazione della tabella */
.tabulator .tabulator-header .tabulator-col {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    padding: 12px 15px;
    border: none;
}

/* Celle della tabella */
.tabulator .tabulator-cell {
    padding: 12px 15px;
    border: none;
}

/* Riga della tabella */
.tabulator .tabulator-row {
    border-bottom: 1px solid #dddddd;
}

/* Riga pari della tabella */
.tabulator .tabulator-row:nth-child(even) {
    background-color: #f3f3f3;
}


/* Riga attiva/selezionata della tabella */
.tabulator .tabulator-row.tabulator-selected {
    font-weight: bold;
    color: #009879;
}

.tabulator .tabulator-row.tabulator-selected:nth-child(odd) {
    background-color: #ffffff !important; /* Mantieni il colore per le righe pari selezionate */
}

/* Stile per i controlli della tabella */
#table-controls {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#table-controls button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Stile per il modal */
.modal {
    display: none; /* Per default il modal è nascosto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#data-form {
    margin-bottom: 20px;
}

#data-form label {
    display: block;
    margin-bottom: 10px;
}

#data-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#submit-data {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#submit-data:hover {
    background-color: #45a049;
}

/* Stile per il popup di errore */
.error-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.error-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    position: relative;
}

/* Bottone per chiudere il popup di errore */
.error-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.error-close:hover,
.error-close:focus {
    color: black;
    text-decoration: none;
}

/* Testo del messaggio di errore */
.error-message {
    color: #FF6347; /* Rosso scuro */
    font-size: 18px;
    margin-top: 20px;
}

/* Stile per il popup di conferma */
.confirm-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.confirm-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    position: relative;
}

/* Stile per i pulsanti di conferma */
.confirm-buttons {
    margin-top: 20px;
}

.confirm-buttons button {
    background-color: #4CAF50; /* Colore verde */
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.confirm-buttons button:hover {
    background-color: #45a049; /* Cambia colore al passaggio del mouse */
}

.confirm-buttons button#confirm-no {
    background-color: #f44336; /* Colore rosso per il pulsante 'No' */
}

.centered-search {
    align-items: center;
    display: block; /* Assicura che l'elemento sia visualizzato come blocco */
    margin-top: -20px;
    margin-left: 300px;
}

/* Wrapper per il footer che contiene i bottoni, la ricerca e il paginator */
.tabulator-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

/* Container per i bottoni */
.button-container {
    display: flex;
    align-items: center;
}

/* Stili per i bottoni */
.button-container button {
    margin: 0 5px;
    --color: #009879;
    padding: 0.5em 1em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 15px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.button-container button::before, .button-container button::after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.button-container button::before {
    top: -1em;
    left: -1em;
}

.button-container button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button-container button:hover::before, .button-container button:hover::after {
    height: 410px;
    width: 410px;
}

.button-container button:hover {
    color: rgb(10, 25, 30);
}

.button-container button:active {
    filter: brightness(.8);
}

/* Icona del simbolo + */
.button-container .icon {
    font-size: 18px;
}

.search-container {
    position: relative;
    width: 80%;
    max-width: 300px; /* Larghezza massima */
    margin-right: 4%; /* Centra la barra di ricerca */
}

.search-container input[type="text"] {
    width: calc(100% - 40px); /* Larghezza dell'input calcolata */
    padding: 10px 20px; /* Spazio per l'icona */
    font-size: 14px; /* Dimensione del carattere ridotta */
    border: 1px solid #ccc;
    border-radius: 20px; /* Bordo più arrotondato */
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
}

.search-container input[type="text"]:focus {
    border-color: #009879;
    box-shadow: 0 0 8px rgba(0, 150, 60, 0.5);
}

.search-container .fa-search {
    position: absolute;
    right: 10px; /* Posizione dell'icona rispetto alla destra */
    top: 50%; /* Centra verticalmente l'icona */
    transform: translateY(-50%);
    color: #ccc;
    font-size: 16px; /* Dimensione del carattere per l'icona */
    pointer-events: none;
}
/* Container per il paginator */
.paginator-container {
    display: flex;
    align-items: center;
}

/* Stili per i bottoni della paginazione */
.paginator-container .tabulator-page {
    padding: 5px 9px !important; /* Dimensioni ancora più ridotte */
    background-color: #fff !important;
    border: 1px solid #009879 !important; /* Colore del bordo uguale a quelli di sinistra con !important */
    border-radius: 4px !important;
    font-size: 12px !important; /* Dimensioni del testo ridotte */
    font-weight: 500 !important;
    color: #009879 !important; /* Colore del testo uguale a quelli di sinistra */
    cursor: pointer !important;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s !important;
    margin-right: 5px !important;
    position: relative !important;
    overflow: hidden !important;
    display: inline-flex !important; /* Usare inline-flex per evitare di interrompere il layout della tabella */
    align-items: center !important;
    justify-content: center !important;
}

.paginator-container .tabulator-page::before,
.paginator-container .tabulator-page::after {
    content: '';
    display: block;
    width: 16px; /* Dimensioni iniziali */
    height: 16px; /* Dimensioni iniziali */
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color); /* Colore variabile */
    transition: 1s ease;
}

.paginator-container .tabulator-page::before {
    top: -0.3em;
    left: -0.3em;
}

.paginator-container .tabulator-page::after {
    left: calc(100% + 0.3em);
    top: calc(100% + 0.3em);
}

.paginator-container .tabulator-page.active {
    background-color: #009879 !important; /* Sfondo del bottone attivo */
    color: #fff !important; /* Colore del testo del bottone attivo */
}

.paginator-container .tabulator-page:hover::before,
.paginator-container .tabulator-page:hover::after {
    height: 210px;
    width: 210px;
}

.paginator-container .tabulator-page:hover {
    color: rgb(10, 25, 30) !important;
    background-color: #009879 !important; /* Cambio colore di sfondo al passaggio del mouse con !important */
    border-color: #009879 !important; /* Cambio colore del bordo al passaggio del mouse con !important */
}

.paginator-container .tabulator-page:active {
    filter: brightness(0.8) !important;
}

/* Stile generale per la selezione */
.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
    cursor: pointer;
    transition: border-color 0.3s;
}

.custom-select:focus {
    border-color: #007bff;
    outline: none;
}

/* Freccia personalizzata */
.custom-select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
    color: #999;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
}

.custom-select-wrapper select {
    width: 100%;
    padding-right: 40px;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

/* Stile per le opzioni */
.custom-select option {
    padding: 10px;
    background: #fff;
    color: #333;
}

.dropdown {
    position: relative;
    margin-top: 100px;
    width: 300px;
    height: 50px;
    z-index: 1000;
    margin-right: 20px;
}

.dropdown::before {
    content: '';
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 10000;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

.dropdown.active::before {
    top: 22px;
    transform: rotate(-225deg);
}

.dropdown input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding: 12px 20px;
    border-radius: 10px;
}

.dropdown .option {
    position: absolute;
    top: 70px;
    width: 100%;
    background: #fff;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.dropdown .option div {
    padding: 12px 20px;
    cursor: pointer;
}

.dropdown .option div:hover {
    background: #62baea;
    color: #fff;
}

.dropdown .option div ion-icon {
    position: relative;
    top: 4px;
    font-size: 1.2em;
}

.dropdown input::placeholder {
    color: black;
}








